# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build files
/build
/log
/install

# cache files
*.cache
__pycache__

# vscode files
/.vscode
/.VSCodeCounter

# vim 文件
*.swp
.nvimlog

# MacOS files
.DS_Store

# ignore 新文件后，执行以下命令
# git rm -r --cached . && git add .
